@keyframes drawArc {
    0%{ transform: rotate(-150deg) translateX(200px) rotate(150deg);  }
    100% { transform: rotate(0deg) translateX(200px) rotate(0deg) ;}
}

@media (min-width: 410px) {
    @keyframes drawArc {
        0%{ transform: rotate(-150deg) translateX(220px) rotate(150deg);  }
        100% { transform: rotate(0deg) translateX(220px) rotate(0deg) ;}
    }
}

@media (min-width: 768px) {
    @keyframes drawArc {
        0%{ transform: rotate(-50deg) translateX(600px) rotate(50deg);  }
        100% { transform: rotate(0deg) translateX(600px) rotate(0deg) ;}
    }
}

@media (min-width: 1024px) {
    @keyframes drawArc {
        0%{ transform: rotate(-150deg) translateX(500px) rotate(150deg);  }
        100% { transform: rotate(0deg) translateX(500px) rotate(0deg) ;}
    }
}

@media (min-width: 1200px) {
    @keyframes drawArc {
        0%{ transform: rotate(-100deg) translateX(500px) rotate(100deg);  }
        100% { transform: rotate(0deg) translateX(500px) rotate(0deg) ;}
    }
}

@media (min-width: 1920px) {
    @keyframes drawArc {
        0%{ transform: rotate(-80deg) translateX(550px) rotate(80deg);  }
        100% { transform: rotate(0deg) translateX(550px) rotate(0deg) ;}
    }
}

.main {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    padding-top: 124px;
    &_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 4;
        & h1 {
            font-family: 'Gilroy';
            font-weight: 800;
            font-size: 32px;
            line-height: 36px;       
            text-align: center;
            color: #004A56;
            margin-top: 16px;
            width: 327px;
        }
        &_btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 56px;
            &_item {
                box-sizing: border-box;
                width: 327px;
                height: 60px;
                line-height: 60px;
                border-radius: 88px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                transition: all 0.3s linear;
                margin-top: 16px;
                &-call {
                    background: #FFD02D;
                    border: 1px solid #FFD02D;
                    color: #B49630;
                    transition: all 0.3s linear;
                    &:hover {
                        transition: all 0.3s linear;
                        background: #FFDD68;
                        color: #B49630;
                    }
                }
                &-investment {
                    border: 2px solid #004A56;
                    color: #004A56;
                    transition: all 0.3s linear;
                    &:hover {
                        transition: all 0.3s linear;
                        background: #004A56;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    &_hero {
        position: relative;
        margin-top: 300px;
        & .mobile {
            display: block;
            position: absolute;
            right: 0px;
            top: -550px;
            width: 562px;
            transform: translateX(25%);
            z-index: 3;
        }
        & .tablet {
            display: none;
            z-index: 3;
        }
        & .desktop {
            display: none;
            z-index: 3;
        }
        &_pen {
            position: absolute;
            left: 50%;
            top: -280px;
            transform: translateX(-50%);
            width: 240px;
            z-index: 4;
        }
        &_sun {
            width: 172px;
            height: 172px;
            box-sizing: border-box;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50px;
            top: -500px;
            animation: drawArc 2s linear forwards;
            &::after {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.6);
                filter: blur(50px);
            }
            &_inner {
                width: 90px;
                height: 90px;
                box-sizing: border-box;
                border-radius: 50%;
                background: #FFD649;
                position: relative;
                z-index: 2;
            }   
        }
    }
    @media (min-width: 390px) {
        &_hero {
            & .mobile {
                top: -500px;
            }
            &_pen {
                top: -230px;
            }
        }
    }
    @media (min-width: 576px) {
        padding-top: 250px;
        &_block {
            & h1 {
                font-size: 48px;
                line-height: 48px;
                width: 527px;
                margin-top: 50px;
            }
        }
        &_hero {
            & .mobile {
                transform: translateX(0px);
                top: -348px;
            }
            &_pen {
                top: -80px;
            }
            &_sun {
                top: -330px;
                left: 100px;
            }
        }
    }
    @media (min-width: 768px) {
        padding-top: 136px;
        &_block {
            & h1 {
                margin-top: 24px;
            }
            &_btns {
                margin-top: 48px;
            }
        }
        &_hero {
            & .mobile {
                display: none;
            }
            & .tablet {
                display: block;
                position: absolute;
                top: -495px;
                right: 0px;
                transform: translateX(115px);
            }
            &_pen {
                top: -250px;
            }
            &_sun {
                top: -500px;
                left: 0px;

            }
        }
    }
    @media (min-width: 810px) {
        &_hero {
            & .tablet {
                position: absolute;
                top: -455px;
                transform: translateX(78px);
            }
            &_pen {
                top: -210px;
            }
        }
    }
    @media (min-width: 1024px) {
        padding-top: 200px;
        &_block {
            & h1 {
                font-size: 72px;
                line-height: 68px;
                width: auto;
            }
        }
        &_hero {
            & .tablet {
                position: absolute;
                top: -455px;
                transform: translateX(0px);
            }
            &_sun {
                top: -370px;
                left: 300px;
            }
        }
    }
    @media (min-width: 1280px) {
        padding-top: 232px;
        &_block {
            align-items: flex-start;
            justify-content: flex-start;
            & h1 {
                text-align: left;
                font-size: 60px;
            }
            &_btns {
                justify-content: flex-start;
                width: auto;
                flex-direction: row;
                &_item {
                    width: auto;
                    box-sizing: border-box;
                    padding: 0px 48px;
                    &-investment {
                        margin-left: 24px;
                    }
                }
            }
        }
        &_hero {
            margin-top: 0px;
            position: static;
            & .tablet {
                display: none;
            }
            & .desktop {
                display: block;
                position: absolute;
                right: -124px;
                top: -90px;
            }
            &_pen {
                top: 200px;
                width: 490px;
                right: 100px;
                left: auto;
                transform: translateX(0px);
            }
            &_sun {
                top: 100px;
                left: 600px;
                animation: drawArc 2s linear forwards;
            }
        }
    }
    @media (min-width: 1366px) {
        &_block {
            & h1 {
                font-size: 66px;
            }
        }
        &_hero {
            & .desktop {
                display: block;
                position: absolute;
                right: -90px;
                top: -44px;
            }
            &_sun {
                top: 150px;
                left: 650px;
            }
        }
    }
    @media (min-width: 1440px) {
        &_hero {
            & .desktop {
                top: -7px;
            }
            &_pen {
                top: 250px;
                right: 150px;
            }
            &_sun {
                top: 200px;
                left: 750px;
            }
        }
    }
    @media (min-width: 1536px) {
        &_hero {
            & .desktop {
                top: 43px;
            }
            &_pen {
                top: 310px;
            }
            &_sun {
                top: 215px;
                left: 830px;
            }
        }
    }
    @media (min-width: 1600px) {
        &_hero {
            & .desktop {
                top: 74px;
                right: -82px;
            }
            &_pen {
                top: 350px;
                right: 200px;
            }
            &_sun {
                top: 240px;
                left: 870px;
            }
        } 
    }
    @media (min-width: 1680px) {
        &_hero {
            & .desktop {
                top: 114px;
                right: -48px;
            }
            &_pen {
                top: 380px;
                right: 200px;
            }
            &_sun {
                top: 280px;
                left: 910px;
            }
        }
    }
    @media (min-width: 1920px) {
        &_hero {
            & .desktop {
                top: 235px;
                right: 73px;
            }
            &_pen {
                top: 500px;
                right: 320px;
            }
            &_sun {
                top: 400px;
                left: 970px;
            }
        }
    }
}